In [404]:
#imports
import pandas as pd

#settings
pd.set_option('display.max_columns', 0) # 0 = autodetect
pd.set_option('display.max_rows', 6000)

In [405]:
raw_df = pd.read_csv(r'C:\Users\ckjar\Documents\GitHub\CS499-Project\bee-data.csv')

In [406]:
raw_df.head()

  Program  ...  HONEY, BEE COLONIES, RENOVATED - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>CV (%)</b>
0  SURVEY  ...                                                NaN
1  SURVEY  ...                                                NaN
2  SURVEY  ...                                                NaN
3  SURVEY  ...                                                NaN
4  SURVEY  ...                                                NaN

[5 rows x 44 columns]

In [407]:
raw_df.notnull().sum()

Program                                                                                                                    1559
Year                                                                                                                       1559
Period                                                                                                                     1559
Week Ending                                                                                                                   0
Geo Level                                                                                                                  1559
State                                                                                                                      1559
State ANSI                                                                                                                 1481
Ag District                                                                                                                   0
Ag District Code                                                                                                              0
County                                                                                                                        0
County ANSI                                                                                                                   0
Zip Code                                                                                                                      0
Region                                                                                                                        0
watershed_code                                                                                                             1559
Watershed                                                                                                                     0
Commodity                                                                                                                  1559
Domain                                                                                                                     1559
Domain Category                                                                                                            1559
HONEY, BEE COLONIES - ADDED & REPLACED, MEASURED IN COLONIES  -  <b>VALUE</b>                                              1557
HONEY, BEE COLONIES - ADDED & REPLACED, MEASURED IN COLONIES  -  <b>CV (%)</b>                                                0
HONEY, BEE COLONIES - INVENTORY, MAX, MEASURED IN COLONIES  -  <b>VALUE</b>                                                1512
HONEY, BEE COLONIES - INVENTORY, MAX, MEASURED IN COLONIES  -  <b>CV (%)</b>                                                  0
HONEY, BEE COLONIES - LOSS, COLONY COLLAPSE DISORDER, MEASURED IN COLONIES  -  <b>VALUE</b>                                 797
HONEY, BEE COLONIES - LOSS, COLONY COLLAPSE DISORDER, MEASURED IN COLONIES  -  <b>CV (%)</b>                                  0
HONEY, BEE COLONIES - LOSS, DEADOUT, MEASURED IN COLONIES  -  <b>VALUE</b>                                                 1557
HONEY, BEE COLONIES - LOSS, DEADOUT, MEASURED IN COLONIES  -  <b>CV (%)</b>                                                   0
HONEY, BEE COLONIES - LOSS, DEADOUT, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>                                          1557
HONEY, BEE COLONIES - LOSS, DEADOUT, MEASURED IN PCT OF COLONIES  -  <b>CV (%)</b>                                            0
HONEY, BEE COLONIES, AFFECTED BY DISEASE - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>                         1545
HONEY, BEE COLONIES, AFFECTED BY DISEASE - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>CV (%)</b>                           0
HONEY, BEE COLONIES, AFFECTED BY OTHER CAUSES - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>                    1545
HONEY, BEE COLONIES, AFFECTED BY OTHER CAUSES - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>CV (%)</b>                      0
HONEY, BEE COLONIES, AFFECTED BY PESTICIDES - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>                      1545
HONEY, BEE COLONIES, AFFECTED BY PESTICIDES - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>CV (%)</b>                        0
HONEY, BEE COLONIES, AFFECTED BY PESTS ((EXCL VARROA MITES)) - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>     1545
HONEY, BEE COLONIES, AFFECTED BY PESTS ((EXCL VARROA MITES)) - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>CV (%)</b>       0
HONEY, BEE COLONIES, AFFECTED BY UNKNOWN CAUSES - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>                  1545
HONEY, BEE COLONIES, AFFECTED BY UNKNOWN CAUSES - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>CV (%)</b>                    0
HONEY, BEE COLONIES, AFFECTED BY VARROA MITES - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>                    1545
HONEY, BEE COLONIES, AFFECTED BY VARROA MITES - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>CV (%)</b>                      0
HONEY, BEE COLONIES, RENOVATED - INVENTORY, MEASURED IN COLONIES  -  <b>VALUE</b>                                          1534
HONEY, BEE COLONIES, RENOVATED - INVENTORY, MEASURED IN COLONIES  -  <b>CV (%)</b>                                            0
HONEY, BEE COLONIES, RENOVATED - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>                                   1557
HONEY, BEE COLONIES, RENOVATED - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>CV (%)</b>                                     0
dtype: int64

In [408]:
raw_df = raw_df.dropna(axis=1, how='all')

In [409]:
columns_to_remove = [col for col in raw_df.columns if 'CV' in col] + \
['Program', 'Geo Level', 'Domain Category', 'State ANSI', 'watershed_code', 'Commodity', 'Domain']
                                                                     
raw_df.drop(columns=columns_to_remove, inplace=True)

In [410]:
raw_df = raw_df.rename(columns={'HONEY, BEE COLONIES - ADDED & REPLACED, MEASURED IN COLONIES  -  <b>VALUE</b>' : 'Colonies_Added_And_Replaced',
                                'HONEY, BEE COLONIES - INVENTORY, MAX, MEASURED IN COLONIES  -  <b>VALUE</b>' : 'Max_Colonies',
                                'HONEY, BEE COLONIES - LOSS, COLONY COLLAPSE DISORDER, MEASURED IN COLONIES  -  <b>VALUE</b>' : 'Num_Affected_Colony_Collapse_Disorder',
                                'HONEY, BEE COLONIES - LOSS, DEADOUT, MEASURED IN COLONIES  -  <b>VALUE</b>' : 'Num_Affected_Deadout',
                                'HONEY, BEE COLONIES - LOSS, DEADOUT, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>' : 'Pct_Affected_Deadout',
                                'HONEY, BEE COLONIES, AFFECTED BY DISEASE - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>' : 'Pct_Affected_Disease',
                                'HONEY, BEE COLONIES, AFFECTED BY OTHER CAUSES - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>' : 'Pct_Affected_Other',
                                'HONEY, BEE COLONIES, AFFECTED BY PESTICIDES - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>' : 'Pct_Affected_Pesticides',
                                'HONEY, BEE COLONIES, AFFECTED BY PESTS ((EXCL VARROA MITES)) - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>' : 'Pct_Affected_Pests',
                                'HONEY, BEE COLONIES, AFFECTED BY UNKNOWN CAUSES - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>' : 'Pct_Affected_Unknown',
                                'HONEY, BEE COLONIES, AFFECTED BY VARROA MITES - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>' : 'Pct_Affected_Varroa_Mites',
                                'HONEY, BEE COLONIES, RENOVATED - INVENTORY, MEASURED IN COLONIES  -  <b>VALUE</b>' : 'Num_Renovated',
                                'HONEY, BEE COLONIES, RENOVATED - INVENTORY, MEASURED IN PCT OF COLONIES  -  <b>VALUE</b>' : 'Pct_Renovated'
                               })

In [411]:
raw_df = raw_df.replace(',', '', regex=True)

In [412]:
raw_df.iloc[:, 3:] = raw_df.iloc[:, 3:].apply(pd.to_numeric, errors='coerce')

In [413]:
raw_df.head()

   Year        Period       State  ...  Pct_Affected_Varroa_Mites  Num_Renovated  Pct_Renovated
0  2023  APR THRU JUN    US TOTAL  ...                       50.9       478440.0           18.0
1  2023  APR THRU JUN     ALABAMA  ...                       37.1         3800.0           25.0
2  2023  APR THRU JUN     ARIZONA  ...                       15.4         2400.0            7.0
3  2023  APR THRU JUN    ARKANSAS  ...                       22.4         2200.0            9.0
4  2023  APR THRU JUN  CALIFORNIA  ...                       41.6       112000.0           12.0

[5 rows x 16 columns]

In [414]:
national_df = raw_df[(raw_df['State'] == 'US TOTAL')]
state_df = raw_df[(raw_df['State'] != 'US TOTAL')]

In [415]:
state_df = state_df.dropna(axis=1, how='all')
national_df = national_df.dropna(axis=1, how='all')

In [416]:
state_df['Period'] = state_df['Period'].map({
    'JAN THRU MAR': 'Q1',
    'APR THRU JUN': 'Q2',
    'JUL THRU SEP': 'Q3',
    'OCT THRU DEC': 'Q4',
})

national_df['Period'] = national_df['Period'].map({
    'JAN THRU MAR': 'Q1',
    'APR THRU JUN': 'Q2',
    'JUL THRU SEP': 'Q3',
    'OCT THRU DEC': 'Q4',
})

In [417]:
national_df['Quarter'] = national_df['Year'].astype(str) + '_' + national_df['Period']
state_df['Quarter'] = state_df['Year'].astype(str) + '_' + state_df['Period']

In [418]:
national_df = national_df.drop(columns=['Period', 'Year'])
state_df = state_df.drop(columns=['Period', 'Year'])

In [419]:
national_df = national_df[['Quarter'] + [col for col in national_df.columns if col != 'Quarter']]
state_df = state_df[['Quarter'] + [col for col in state_df.columns if col != 'Quarter']]

In [420]:
national_df = national_df.sort_values(by='Quarter', ascending=True)
state_df = state_df.sort_values(by='Quarter', ascending=True)

national_df = national_df.reset_index(drop=True)
state_df = national_df.reset_index(drop=True)

In [421]:
state_df.head()

   Quarter     State  Colonies_Added_And_Replaced  ...  Pct_Affected_Varroa_Mites  Num_Renovated  Pct_Renovated
0  2015_Q1  US TOTAL                     546980.0  ...                       25.2       270530.0           10.0
1  2015_Q1  US TOTAL                       8000.0  ...                        NaN         3200.0            6.0
2  2015_Q2  US TOTAL                     661860.0  ...                       43.4       692850.0           24.0
3  2015_Q2  US TOTAL                      15000.0  ...                        NaN         3800.0            9.0
4  2015_Q3  US TOTAL                     172990.0  ...                       41.2       303070.0           10.0

[5 rows x 14 columns]

In [422]:
national_df.head()

   Quarter     State  Colonies_Added_And_Replaced  ...  Pct_Affected_Varroa_Mites  Num_Renovated  Pct_Renovated
0  2015_Q1  US TOTAL                     546980.0  ...                       25.2       270530.0           10.0
1  2015_Q1  US TOTAL                       8000.0  ...                        NaN         3200.0            6.0
2  2015_Q2  US TOTAL                     661860.0  ...                       43.4       692850.0           24.0
3  2015_Q2  US TOTAL                      15000.0  ...                        NaN         3800.0            9.0
4  2015_Q3  US TOTAL                     172990.0  ...                       41.2       303070.0           10.0

[5 rows x 14 columns]

In [425]:
state_df.to_csv('state_data.csv', index=False)
national_df.to_csv('national_data.csv', index=False)